.logo {
    width: 80px;
    height: 80px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.header {
    font-size: 14px;
    color: bisque;
    background-color: red;
    .title {
        font-size: 16px;
        color: blue;
        &::after{
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: blueviolet;
            margin-left: 4px;
        }
    }
}

.img-box{
    width: 100px;
    height: 100px;
    background: url('../images/yay.jpg') no-repeat;
}